<app-menu-admin></app-menu-admin>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="text-left">Rol</th>
                            <th scope="col" class="text-left">Aprobado</th>
                            <th scope="col" class="text-left">Usuario</th>
                            <th scope="col" class="text-left">Nombres</th>
                            <th scope="col" class="text-left">Correo</th>                                                            
                            <th scope="col" class="text-left">Dirección</th>
                            <th scope="col" class="text-left">Celular</th>                            
                            <th scope="col" class="text-center">Acción</th>
                        </tr>
                    </thead>
                    <tbody>                                              
                        <tr *ngFor="let listado of ListadoUsuarios">
                            </td>                                
                        </tr>                     
                    </tbody>
                </table>
            </div>            
        </div>  
  </div>            
</div> 

