<app-menu-admin></app-menu-admin>
<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="text-left">Usuario</th>
                            <th scope="col" class="text-left">Nombres</th>
                            <th scope="col" class="text-left">Correo</th>                                                            
                            <th scope="col" class="text-left">Dirección</th>
                            <th scope="col" class="text-left">Celular</th>                            
                            <th scope="col" class="text-center">Acción</th>
                        </tr>
                    </thead>
                    <tbody>                                              
                        <tr *ngFor="let listado of ListadoNoAprobados">
                                <td class="text-left">{{listado.usuario}}</td>
                                <td class="text-left">{{listado.nombres}} {{listado.apellidos}}</td>
                                <td class="text-left">{{listado.correo}}</td> 
                                <td class="text-left">{{listado.direccion}}</td>
                                <td class="text-center">{{listado.celular}} </td>     
                                <td  class="text-center">                                                           
                                <button (click)="Aprobacion(listado.id)" class="btn-sm btn btn-success"><i class="fa fa-gear"></i> Autorizar </button>                                 
                                <!--<button class="btn-sm btn btn-danger"><i class="fa fa-gear"></i> Cancelar </button>-->
                                </td>
                                
                        </tr>
                     
                    </tbody>
                </table>
            </div>            
        </div>  
  </div>            
</div> 
