<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      
      <div class="fadeIn first">
        <img src="/assets/img/bookSA.jpg" id="icon" alt="User Icon" />
      </div>
  
      <div class="fadeIn first">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Registro de Usuarios</h3>
      </div>
      <!-- Register Form -->
      
      <input type="checkbox" [(ngModel)]="esEditorial"> <label>&nbsp;&nbsp;&nbsp;&nbsp;¿Desea registrarse como usuario editorial?</label><br>
      <form [formGroup] = "registroForm" (ngSubmit)= "Registro(registroForm.value)">       
        <input type="text" placeholder="Usuario" formControlName="usuario"/>
        <input type="text" placeholder="Nombres" formControlName="nombres"/>
        <input type="text" placeholder="Apellido" formControlName="apellidos"/>
        <input type="password" placeholder="Contraseña" formControlName="password"/>
        <input type="password" placeholder="Contraseña" formControlName="password2"/>
        <input type="email" placeholder="Email" formControlName="correo"/>      
        <input type="text" placeholder="Direccion" formControlName="direccion"/>
        <input type="tel" placeholder="Numero de Telefono" formControlName="celular"/>  <br>            
        <!--<input type="checkbox" formControlName="rol"> <label>Editorial</label><br> <br><br>-->
        <input type="submit" class="fadeIn fourth" value="Sign up">
      </form> 
      
      

      <!-- Mensaje de error -->
      <div id="formFooter">      
        <a class="underlineHover" type="submit" routerLink="/login" aling="rigth">Regresar</a>
      </div>
  
    </div>
  </div>